<style>




/*********************************************************************************/
/* Reset All Elements                                                            */
/*********************************************************************************/	
*{	
  padding : 0; 
  margin : 0;	
}
html, body {	
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  background: #2056ac;
  font-family: 'Questrial', sans-serif;
  font-size: 12pt;
  color: rgba(0,0,0,.6);
}
h1, h2, h3 {
  color: #404040;
}
p, ol, ul {
 margin-top: 0;
}
ol, ul	{
  padding: 0;
  list-style: none;
}
p {
  line-height: 180%;
}
strong	{
  
}
	
a
{
  color: #2056ac;
}
a:hover
{
 text-decoration: none;
}
	
	






/*********************************************************************************/
/*Container                                                                      */
/*********************************************************************************/
.container{
  margin: 0px auto;
  width: 1200px;
}
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/
/*********************************************************************************/
/* Welcome-Text                                                                  */
/*********************************************************************************/
/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/
/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
/*********************************************************************************/
/* 4-col                                                                     */
/*********************************************************************************/
/*********************************************************************************/
/* 3-Columns                                                                 */
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/


/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/
/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/
/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/
/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/
</style>
